.FlexItem{
  background-color: yellow;
  border: 2px solid black;
  color: red;
  width: 50px;
  height: 50px;


}

.FlexContainer{
   
  height: 95vh;
  border: 1px solid red;
   /* justify-content: flex-end; */
   /* justify-content: space-around; */
   /* justify-content: space-between;
  justify-content: space-evenly;
  align-items: center; */
  /* flex-direction: row-reverse; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}


