/* *{

   margin:0px;
   padding:0px;

}

body{
    border: 1px solid black;
} */

h1{
    
    padding: 10px 20px 30px 80px;

}
/* Universal selector (*) */


/* *{
    color: red;
    margin: 0px;
    padding: 0px;

} */

/* tag selector (tag name) 

p{
    color: brown;
}
/* 
Id selector (#) use for uniqueness */
/* 
#a{
    color: red;
} */


/* class selector (.) user for multple tags at a time */
/* 
.b{
    background-color: brown;
} */


/* Descendent seector  */

/* #c p{

    background-color: blue;
} */

/* Child selector */

#c >p{
    background-color: cadetblue;
}

button[type="reset"] {

    background-color: rgb(245, 106, 106);
    color: aqua;
}

/* Pscudo class (:) */

li:nth-child(2){
    color: blue;
    font-size: 10px;

}

li:nth-child(2):hover {
    color: yellow;
    font-size: 10px;
}

p::first-line {

    font-size: 20px;
    font-weight: 500;
    color: chocolate;

}