.container {

    width: 400px;
    height: 80vh;
    border: 1px solid black;
}

h3{
    color: red;
    background-color: yellow;
}

.sticky{

    position: sticky;
    top: 10px;

}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 50px;
    right: -50px;
}

.fixed{

    position: fixed;
    bottom: 100px;
    right: 50px;
}