@import url("./base.css");

.search {
  margin-top: 150px;
  height: 90vh;
  margin: 110px 280px 50px 300px;
}
.searchField {
  width: 97%;
  border: none;
  font-weight: 600;
  font-size: 14px;
}
.searchContainer {
  border: 1px solid #bebfc5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 8px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchIco {
  font-size: 18px;
  color: #686b78;
  font-weight: 700;
}
.searchField:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.searCuisineContainer {
  display: flex;
  gap: 20px;
  margin-left: 15px;
}
.heading {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 50px;
}
.cuisineContainer {
  width: 80px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.cuisineContainer > p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cuisineContainer > img {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.searchedData:hover {
  background-color: #f2f6fb;
}
.searched {
  margin-top: 10px;
  margin-bottom: 1200px;
}

.searchedData {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}
.searchedData > div > p {
  font-size: 14px;
  color: grey;
}
.searchedData > img {
  width: 50px;
  height: 50px;
}
.searchNotFound {
  margin-top: 50px;
}
.searchNotFound > p {
  margin-left: 10px;
  font-size: 18px;
  font-family: var(--font-secondary);
  color: grey;
  letter-spacing: 1.2;
}

@media screen and (max-width: 1189px) {
  .search {
    margin: 110px 120px 50px 150px;
  }
  .searCuisineContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 400px) and (max-width: 730px) {
  .search {
    margin: 110px 90px 50px 40px;
  }
}