.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.counter {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 100px 0;
}
.counter p {
  font-size: 32px;
  font-weight: 700;
}

button {
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  margin-left: 20px;
}
.increment {
  background-color: green;
}

.decrement {
  background-color: red;
}

.reset {
  background-color: yellowgreen;
}

.a {
  color: brown;
  font-size: 12px;
  /* font-size: 5px; */
}
